@import 'reset.css';
/* diretiva */
.menu, .container, .details {
    height: 100vh;
}
.menu {
    background-color: #F2F2F2;
}
.details {
    border: var(--border);
}

/* react sintaxe parecida com HTML JSX className */
/* Next.JS react proibe seletores impuros. */
/* Código limpo é programar dirigido a abstração de maneira simples. */
/* 
.text {
    font-family: 'Roboto','Lato',sans-serif;
    font-size: 0.9em;
    color: #333;
}
.text.small {
    font-size: 0.6em;
}
.text.large {
    font-size: 2em;
}
.text.x-large {
    font-size: 4em;
}
class="text large" */
/* 

declaração CSS: propriedade:valor;
*/
.menu {
    width: var(--menuWidth);
    border-color: #24FF00;
    flex-direction:column;
}

/* 
width, height, padding, border,margin, font-family, font-size, font-weight
position, z-index, overflow, display,
flex, flex-direction, align-items, justify-content, flex-flow, flex-grow,flex-wrap
grid, grid-gap, row, column, 
transform, transition, animation, opacity, filter.
text-decoration, list-style.


Propriedade CSS:
unidades de medida CSS: px, %, vw, vh, em
globais: inherit, initial, unset
    Ex: width
    Valores possíveis:  all, min-content, max-content, fit-content, auto, 
    valor inicial: auto
    herança implícita: não


*/


.container {
    width: calc(100vw - (var(--menuWidth) + var(--detailsWidth)));
    border-color: #FA00FF;
}
.details {
    width: var(--detailsWidth);
    border-color: #0500FF;
}

body {
    font-family: 'Roboto','Lato',sans-serif;
}
/* ---------------------------menu - header------------------------------*/
.menu > .menu__header__profile {
    flex-direction: column;
    font-size: 0.7em;
}

.menu input[type="search"],
.menu input[type="search"]::placeholder {
    font-size: 1em;
}
.menu .menu__header__profile > div {
    width: var(--menuWidth);
    align-items: center;
    justify-content: space-around;
}

.menu .header__img__profile {
    width: 20%;
}

.menu .menu__header__profile svg {
    width: 24px;
    height: 24px;
}

.menu .menu__header__profile label {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.menu .menu__header__profile label input {
    padding-left: 5%;
    border: none;
    background: none;
}

.menu > .activity ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.5px rgba(100,100,100,0.2);
}

.menu > .activity ul li {
    line-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 0.9em;
}
.menu>.activity ul li:hover {
    background-color: rgba(100,100,100,0.1);
    cursor: pointer;
}
.menu > .activity ul li > svg {
    margin-right: 10%;
}


header.menu__header__profile > div:first-child {
    margin-left: 15px;
}

header.menu__header__profile > div {
    margin-top: 15px;
}
/* ------------------------fim menu - header  --------------------------*/



/* ------------------------main - .container------------------------ */

.container {
    width: 100%;
    height: inherit;
    flex-direction: column;
    background: url('../images/bg-phone.jpg') center no-repeat;
    background-size: cover;
}

.container > header,
.container > footer {
    height: 133px;
    border: solid 1px red;
}
.container > section.tasks {
    height: calc(100vh - (133px * 2));
}
.container > header {
    width: 100%;
    flex-direction: column;
    color: #fff;
    text-shadow: 0 0 2px #333;
    padding-left: 5%;
    padding-right: 5%;
}
.container > header > div:first-child {
    margin-top: 2%;
    justify-content: space-between;
}

.tasks {
    flex-direction: column;
}


.task {
    width: 90%;
    height: 40px;
    margin: 0.5% 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(240,240,240,0.8);
    border-radius: 5px;
}

.task:hover {
    background:rgb(240,240,240);
    cursor: pointer;
}

/* tablet 
breakpoint*/
@media (min-width:768px){
    .container {
        background: url('../images/bg-tablet.jpg') center no-repeat;
        background-size: cover;           
    }
}
/* desktop */
@media (min-width:1280px){
    .container {
        background: url('../images/bg-desktop.jpg') center no-repeat;
        background-size: cover;   
    }
}
/* ------------------------fim main - . container------------------------ */




